/* General layout to center the whole page */
 .login-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Cover full viewport height */
  background: url('/Viswadigital.jpg') no-repeat center center / cover; /* Your background */
 }
 

 .login-container {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px; /* Adjust as needed */
  position: relative; /* For error message positioning */
  height: 350px; /* Increased height */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribute space evenly */
 }
 

 .team-logo {
  width: 80%; /* Logo width relative to container */
  max-width: 150px; /* Maximum logo width */
  display: block;
  margin: 0 auto; /* Center logo horizontally */
  height: 20%; /* Maintain aspect ratio */
 }
 

 form {
  display: flex;
  flex-direction: column;
 }
 

 .input-group {
  margin-bottom: 10px;
 }
 

 .input-group label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
 }
 

 .input-group input {
  width: 100%; /* Input width 100% of its container */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Include padding in width */
  height: 30px; /* Consistent height */
 }
 

 button {
  background-color: green;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
 }
 

 button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
 }
 

 .change-password-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
  text-align: center; /* Center the link */
 }
 

 .change-password-link:hover {
  color: darkblue;
 }
 

 .change-password-form {
  margin-top: 10px;
 }
 

 .change-password-form h3 {
  text-align: center;
  margin-bottom: 10px;
 }
 

 .error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
  position: absolute;
  bottom: -40px; /* Position below the container */
  left: 0;
  width: 100%;
 }