<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <httpRuntime maxRequestLength="504800" />
  </system.web>
  <system.webServer>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="209715200" />
      </requestFiltering>
    </security>
    <handlers>
      <add name="iisnode" path="gatewayServer.js" verb="*" modules="iisnode" />
    </handlers>
    
    <rewrite>
      <rules>
        <!-- Route all requests to Node.js Gateway (which handles proxying) -->
        <rule name="NodeJS">
          <match url="/*" />
          <action type="Rewrite" url="gatewayServer.js" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Add CORS headers for Office Add-in -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization, X-Upload-Token" />
      </customHeaders>
    </httpProtocol>

  </system.webServer>
</configuration>